* {
 box-sizing: border-box;   
}

body {
    background: #c7c7c7;
    font-family: 'Courier New', Courier, monospace;
}

.container-one {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    max-width: 1200px;
    margin: auto;
    border: 1px solid #030203;
    font-size: 24px;
    font-weight: bold;
    /* overflow: scroll; */
}

.container-two {
     margin-top: .5rem;
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     max-width: 1200px;
     margin: auto;
     border: 1px solid #030203;
     font-size: 24px;
     font-weight: bold;
     /* overflow: scroll; */
}

.title {
    text-align: center;
}

.numbers {
    border: 1px solid #030203;
    display: block;
    width: 25%;
    margin: auto;
    text-align: center;
}