* {
 box-sizing: border-box;   
}

body {
    background: chocolate;
    font-family: 'Courier New', Courier, monospace;
}

.container-one {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    max-width: 1200px;
    margin: auto;
    border: 1px solid rgb(103, 219, 248);
    font-size: 36px;
    font-weight: bold;
    overflow: scroll;
}

.container-two {
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     max-width: 1200px;
     margin: auto;
     border: 1px solid rgb(103, 219, 248);
     font-size: 36px;
     font-weight: bold;
     overflow: scroll;
}

.title {
    text-align: center;
}

.numbers {
    border: 1px solid lightblue;
    display: block;
    width: 25%;
    margin: auto;
    text-align: center;
}